.App {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.App-header {
  align-items: center;
  background-color: cornflowerblue;
  border-bottom: 1px solid darkgray;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.App-header h1 {
  margin: 0;
}

.App-header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
  opacity: 0.7;
  transition: opacity 0.2s ease-out;
}

.App-header button:hover {
  opacity: 1;
}

main {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 50px;
}

.frame {
  margin: 1rem;
  max-width: calc(50% - 2rem);
  min-height: 200px;
  position: relative;
}

.frame:focus-within {
  background-color: aliceblue;
  outline: none;
}

.frame button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.frame textarea {
  background-color: transparent;
  border: none;
  bottom: 0;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-left: 1px solid darkgray;
  border-radius: 0;
  font-family: monospace;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  padding: 0.5rem;
  resize: vertical;
  top: 0;
  width: 100%;
  z-index: 2;
}

.selected {
  animation: pulse 1s infinite;
  background-color: lavenderblush;
}

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(238, 130, 238, 0.7);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(238, 130, 238, 0);
  }
}